<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> 
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; }
		.detailItem {
			border: 0px solid black;
			border-radius: 4px;
			line-height: 30px;
			width: 40%;
			text-align: center;
			margin: 0px auto;
			margin-bottom: 10px;
			font-size: 14px;
		}
	</style>
</head>
<body>
<div class="container">
<div class="jumbotron text-center">
	<h3 class="text-info"><b class="text-primary">Title:</b> <%= schedule.title %></h3>
	<% for(var i in schedule.schedule) { %>
		<div class="detailItem" style="background: <%=schedule.schedule[i].bgColor%>; color: <%=schedule.schedule[i].fontColor%>;">
			<%=schedule.schedule[i].title%> <%=schedule.schedule[i].time%>
		</div>
	<% } %>
	
	<a href="<%=schedule.accessCb%>" class="text-success"><i class="fa fa-plus"></i> <u>Add to my schedule</u></a>
</div>

</div>
</body>
</html>